@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*Home Screen*/

#homeScreen {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('./assets/ui/background.png');
}

#homeScreen > h1 {
  color: #fff;
  font-size: 96px;
}

#homeScreen > button {
  font-size: 22px;
  background-color: #3b3034;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 20px 45px;
}

#homeScreen > button:nth-child(3) {
  color: #3b3034;
  background: none;
  border: none;
  margin-top: 50px;
}

/*Selection screen*/

#selectionScreen {
  color: #eee;
  position: relative;
  height: 100vh;
  width: 100vw;
  margin: auto;
}

#selectionScreen > canvas {
  -webkit-box-shadow: 10px 10px 16px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 16px -11px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 16px -11px rgba(0, 0, 0, 0.75);
}

#selectionScreen > main {
  position: absolute;
  top: 13%;
  left: 30%;
  width: 720px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
}

#selectionScreen > main > div {
  width: 33.333%;
  height: 80%;
  text-align: center;
  cursor: pointer;
}

#selectionScreen > main > div:first-child {
  width: 100%;
  height: auto;
  cursor: default;
}

.p1 {
  background-color: #b80f0a;
}

.p1 h3 {
  color: #b80f0a;
}

.p2 {
  background-color: rgba(0, 128, 255, 1);
}

.p2 h3 {
  color: rgba(0, 128, 255, 1);
}

/*Info*/

#game {
  position: relative;
  height: 100vh;
  width: 100vw;
  margin: auto;
  background-color: #222;
}

aside {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;

  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

aside > div {
  color: #eee;
  width: 20%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top, rgba(115, 194, 251, 0.5), rgba(115, 194, 251, 0.4)),
    url('./assets/ui/infobg.jpeg');
  z-index: 3;
  -webkit-box-shadow: 10px 10px 16px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 16px -11px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 16px -11px rgba(0, 0, 0, 0.75);
}

aside h3 {
  font-size: 20px;
  margin: 8px 0;
}

#infoP1 {
  background-image: linear-gradient(to top, rgba(255, 36, 0, 0.3), rgba(255, 36, 0, 0.4)),
    url('./assets/ui/infobg.jpeg');
}

#infoP2 {
  background-image: linear-gradient(to top, rgba(115, 194, 251, 0.5), rgba(115, 194, 251, 0.4)),
    url('./assets/ui/infobg.jpeg');
}

.darkerBlue {
  background-image: linear-gradient(to top, rgba(115, 194, 251, 0.2), rgba(115, 194, 251, 0.3)),
    url('./assets/ui/infobg.jpeg');
}

.darkerRed {
  background-image: linear-gradient(to top, rgba(255, 36, 0, 0.2), rgba(255, 36, 0, 0.3)),
    url('./assets/ui/infobg.jpeg');
}

.infoBattalion {
  display: flex;
  justify-content: center;
  text-align: center;
}

.infoBattalion > div {
  padding: 10px;
  width: 33%;
}

.infoBattalion > div > div > img {
  width: 100%;
  height: auto;
}

.infoCurrent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 50%;
  margin-top: 35px;
}

.infoCurrent > div {
  width: 55%;
}

.infoCurrent > h2 {
  font-size: 22px;
}

.infoCurrent > div > img {
  width: 100%;
  height: auto;
}

/*Turn change*/
#changeTurn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 4;
}

#changeTurn > div {
  padding-top: 50px;
  font-size: 36px;
  width: 100%;
  height: 150px;
  color: #ddd;
  text-align: center;
}

/*Final Screen*/
#finalScreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 4;
}

#finalScreen > div > h3 {
  font-size: 68px;
  margin: 0;
  padding: 25px 0;
}

#finalScreen > div > span {
  font-size: 48px;
}

#finalScreen > div:first-child {
  width: 100%;
  height: 250px;
  color: #ddd;
  text-align: center;
}

.fs-bg-red {
  background-image: linear-gradient(to right bottom, rgba(255, 36, 0, 0.8) 65%, rgba(255, 36, 0, 0.2));
}

.fs-bg-blue {
  background-image: linear-gradient(to right bottom, rgba(115, 194, 251, 0.9) 65%, rgba(115, 194, 251, 0.3));
}

#finalScreen > div:nth-child(2) {
  display: flex;
  justify-content: center;
}

#finalScreen > div > button {
  margin: 30px 10px;
  font-size: 22px;
  color: #ddd;
  border: none;
  border-radius: 5px;
  padding: 22px 35px;
  background-color: #333;
}

/*Board*/

canvas {
  position: absolute;
  top: 15%;
  left: 30%;
  transition: all 1s;
  z-index: 1;
}

#game > main {
  position: absolute;

  top: 15%;
  left: 30%;
  width: 720px;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(6, 120px);
  grid-template-rows: repeat(5, 120px);
  position: absolute;
}

div {
  z-index: 2;
}

div[tile='0,0'] {
  grid-column: 1;
  grid-row: 1;
}

div[tile='0,1'] {
  grid-column: 2;
  grid-row: 1;
}

div[tile='0,2'] {
  grid-column: 3;
  grid-row: 1;
}

div[tile='0,3'] {
  grid-column: 4;
  grid-row: 1;
}

div[tile='0,4'] {
  grid-column: 5;
  grid-row: 1;
}

div[tile='0,5'] {
  grid-column: 6;
  grid-row: 1;
}

div[tile='1,0'] {
  grid-column: 1;
  grid-row: 2;
}

div[tile='2,0'] {
  grid-column: 1;
  grid-row: 3;
}

div[tile='3,0'] {
  grid-column: 1;
  grid-row: 4;
}

div[tile='4,0'] {
  grid-column: 1;
  grid-row: 5;
}

.hover {
  background-color: rgba(152, 251, 152, 0.5);
}

.highlight {
  background-color: rgba(115, 194, 251, 0.5);
  border: 1px solid rgba(115, 194, 251, 0.7);
}

.select {
  background-color: rgba(0, 128, 255, 0.6);
}

.combat-ready {
  background-color: rgba(255, 36, 0, 0.6);
  border: 1px solid rgba(255, 36, 0, 0.8);
}

/*Quotes*/
.quotes {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  justify-content: space-between;
  color: #ddd;
}

.quotes > div {
  display: flex;
  flex-direction: column;
  width: 35%;
  padding: 30px 40px;
}

.quotes > div:first-child {
  align-self: flex-end;
}

.quotes > div:last-child {
  align-self: flex-start;
}

.quotes > div > div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.quotes > div:first-child > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.quotes > div > div > h3 {
  margin: 0;
  padding: 0;
}

.quotes > div > div > div {
  position: relative;
  font-size: 28px;
  width: 500px;
  padding: 25px;
  margin: 20px 0 60px;
  border-radius: 5px;
}

.quotes > div > div > div:after {
  content: '';
  position: absolute;
  bottom: -25px;
  border-width: 25px 25px 0;
  border-style: solid;
  display: block;
  width: 0;
}

.quotes > div:first-child > div > div:after {
  left: 80px;
}

.quotes > div:last-child > div > div:after {
  right: 80px;
}

.quotes > div > div > img {
  width: 320px;
  height: auto;
}

#sp1 > div > div:after,
#ep1 > div > div:after {
  border-color: rgba(255, 36, 0, 0.8) transparent;
}

#sp2 > div > div:after,
#ep2 > div > div:after {
  border-color: rgba(115, 194, 251, 0.9) transparent;
}

#sp2 > div > div,
#ep2 > div > div {
  background-color: rgba(115, 194, 251, 0.9);
}

#sp1 > div > div,
#ep1 > div > div {
  background-color: rgba(255, 36, 0, 0.8);
}
